@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/*--------------navigation section-------*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header.sticky{
    background: rgba(0, 0, 0, 0.652);
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}
header .logo{
    color: rgb(255, 225, 0);
    font-weight: 700;
    font-size: 2rem;
    text-decoration: none;
}
header.sticky .logo{
    color: rgb(68, 255, 0);
}
header .logo span{
    color: #ff0157;
}
header .navigation{
    position: relative;
    display: flex;
}
header .navigation li{
    list-style: none;
    margin-left: 30px;
}
header .navigation li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 300;
    font-size: 1rem;
}

header.sticky .navigation li a{
    color: rgb(183, 255, 0);
}
header .navigation li a:hover{
    color: rgb(255, 0, 0);
}

/*-------------Home section--------*/

.showcase
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(rgb(145, 255, 0),rgb(0, 70, 176));
    background-size: cover;
}
.showcase.active
{
  right: 300px;
}

.showcase video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
 
}
.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: overlay;
  color: rgba(0, 198, 0, 0.748);
}
.text
{
  position: relative;
  z-index: 10;
}

.text h2
{
  font-size: 4em;
  font-weight: 800;
  color: rgb(255, 255, 255);
  line-height: 1em;
  text-transform: uppercase;
  text-align: center;
  text-shadow: rgb(255, 0, 0);
}
.text h3
{
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
  line-height: 1em;
  text-transform: uppercase;
  text-align: center;
  padding: 12px 36px;
}

.text a:hover
{
  letter-spacing: 2px;
}
.text.title2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnx{
    position: relative;
    display: inline-block;
    padding: 12px 36px;
    font-weight: bold;
    margin: 10px 0;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: 40px;
    background: linear-gradient(90deg,#ff00eef2,#0059ff91);
}

/*-----------techracy section----------*/

.dude5{
    background-image: url(ch.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.techracy{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
}
.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.dor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 30px;
    background: rgba(0, 0, 0, 0.834);

    border-radius: 40px;
    box-shadow: 0 20px 60px #ffffff97;

}

.titletext{
    text-align: center;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    font-family: bernard MT condensed;
    text-decoration: underline;
    text-decoration-color: #00ffd0;
    
}
p{


    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: justify;
    font-size: 1.2rem;
    color: rgb(0, 255, 81);
    font-style: italic;
    font-weight: bold;
}
h3{
    display: block;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-right: 40px;
}
h4{
    display: block;
    font-size: 1.3rem;
    color: #d000f5;
}


/*---------------------sponser---------------*/

.sponsors1{
    height: 20vh;
    width: 100%;
    align-items: center;
    background-size: cover;
    margin-top: 100px;
    margin-bottom: 100px;
}
.titletext1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 50px;
}

  .swiper {
    position: absolute;
    width: 100%;
  }
  .swiper .swiper-slide {
    text-align: center;
    font-size: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper .swiper-slide img {
    border-radius: 2rem;
    margin-top: 10em;
    display: block;
    width: 6em;
    height: 6em;
    -o-object-fit: contain;
       object-fit: contain;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.6));
    transition: filter 500ms ease;
  }
  .swiper .swiper-slide img:hover {
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.6));
  }
  .swiper .swiper-pagination {
    color: white;
  }
  .swiper .swiper-pagination-bullet-active {
    background-color: black !important;
  }

/*---------------------HEAD OF INSTI---------------*/
.dude1{
    width: 100%;
    
}
  .con1{
    width: 100%;
    padding: 50px 0;
    background: rgba(0, 0, 0, 0.649);
    
}
.titelcon1{
    color: rgb(255, 255, 255);
    text-align: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.7rem;
    margin-bottom: 45px;
}
.con1 .imgs-box1{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin:auto;
    position: relative;
}
.con1 .box-service1{
    flex-basis: 20%;
    border-radius: 7px;
    margin-bottom: 7px;
    color: #fff;
    position: relative;

}
.con1 .box-service1 img{
    position: relative;
    width: 350px;
    height: 500px;
    margin: 20x;
    background-size: contain;
}
.split1{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(119, 119, 119, 0.526),rgba(0, 0, 255, 0.382));
    opacity: 0;
    transition: 1s;
}
.box-service1:hover .split1{
    opacity: 1;
}
.cont1{
    width: 90%;
    position: absolute;
    bottom:0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
}
hr{
    height: 2px;
    border: 0;
    margin: 14px auto;
    width: 70px;
}
.cont1 h2{
    font-size: 20px;
    color: rgb(149, 255, 0);
    text-align: center;
}
.cont1 h4{
    text-align: center;
    color: rgb(149, 255, 0);
}
.cont1 p{
    font-size: 15px;
    color:rgb(255, 255, 255);
}

.box-service1:hover .cont1{
    bottom: 10%;
    opacity: 1;
    
}

/*---------------------Gallery---------------*/

.gallery{
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 80vh;
    overflow: hidden;
    background:rgb(0, 0, 0);
    background-size: cover;
}
.gallery .carousel{
    width: 300px;
    margin: 100px auto 0;
    overflow: visible;
    align-items: center;
    margin-top: 40px;
    
}
.carousel img{
    -webkit-box-reflect: below 20px linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.3));
}
.gallery .mr{
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 80px;

}

/*------------con-fa-co------*/
.fix{
    background-image: url(wo.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

/*------------convener------*/

.con{
    width: 100%;
    min-height: 100vh;
    padding: 50px;
    background: rgba(191, 218, 216, 0.916);
}
.titelcon{
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 35px;
}
.con .imgs-box{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin:auto;
    position: relative;
}
.con .box-service{
    flex-basis: 20%;
    border-radius: 7px;
    margin-bottom: 7px;
    color: #fff;
    position: relative;

}
.con .box-service img{
    position: relative;
    width: 300px;
    margin: 20px;
}
.split{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 10px;
    cursor: pointer;
    background: linear-gradient(rgba(0, 128, 0, 0.382),rgba(0, 0, 255, 0.382));
    opacity: 0;
    transition: 1s;
}
.box-service:hover .split{
    opacity: 1;
}
.cont{
    width: 80%;
    position: absolute;
    bottom:0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
}
hr{
    background: #fff;
    height: 2px;
    border: 0;
    margin: 16px auto;
    width: 60px;
}
.cont h2{
    font-size: 20px;
    color: #bfff00;
}
.cont p{
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
}

.box-service:hover .cont{
    bottom: 30%;
    opacity: 1;
}


/*------------FACULTIES section------*/
.protfolio{
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.863);
}

.protfolio .content{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 40px;
}
.protfolio .content .box{
    width: 220px;
    margin: 12px;
}
.protfolio .content .box .imgBx{
    position: relative;
    width: 100%;
    height: 200px;
}
.protfolio .content .box .imgBx img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.protfolio .content .box .text1{
    padding: 10px 0 5px;
    object-fit: cover;
}
.protfolio .content .box .text1 h3{
    font: 0.5rem;
    color: rgb(255, 255, 255);
}
.title{
    margin-top: 30px;
}
.title .titletext2{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;

}
.text1 h3{
    text-align: center;
}

/*-------------coordinatiors section-------------*/

.dude6{
    min-height: 100vh;
}
.coordinators{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(meta1.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
.space{
	margin-top: 20px;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    padding: 1.2em;
}
.contain21{
	min-height: 100vh;
	width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.about-content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: 20px;
    color: #ffffff;
    margin-top: 50px;
    width: 80%;
    padding: 2rem;

}


.titletext{
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    font-weight: 300;
    margin-top: 60px;
    font-weight: bold;

}
.titletext span{
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 3rem;
}

/*---------------Footer section----------*/

footer{
    background: rgb(0, 0, 0);
    text-align: center;
    padding-top: 30px;
    background-size: cover;
}
.most1{
    font-size: 2rem;
    color: rgb(255, 255, 255);
    text-decoration: underline;
    margin-bottom: 5px;
}
.most{
    text-align: center;
    color: rgb(255, 255, 255);
    font-style: italic;
    font-weight: bold;
    margin-bottom: 20px;
}
footer .social_icon
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
footer .social_icon li
{
    list-style: none;
}
footer .social_icon li a
{
    font-size: 2rem;
    color: rgb(0, 221, 255);
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
footer .social_icon li a:hover{
    transform: translateY(-10px);
    color: rgb(217, 255, 0);
}
footer .max li a{
    font-size: 1.1rem;
    color: rgb(255, 255, 255);
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}
footer .max li a:hover{
    transform: translateY(-10px);
}
footer .max{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
footer .max li{
    list-style: none;
}
footer .max li a:hover{
    opacity: 1;
    color: rgb(255, 247, 0);
}
footer .copyright{
    background-color: lightgreen;
    color: rgb(255, 255, 255);
    padding: 15px;
    margin-top: 30px;
}
footer .copyright p{
    text-align: center;
}




/*---------------------Responsibe Media---------------*/

@media(max-width: 991px){
    header,
    header.sticky{
        padding: 10px 10px;
    }
    header .navigation{
        display: none;
    }
    header .navigation.active{
        width: 100%;
        height: calc(100% -85px);
        position: fixed;
        top: 70px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: rgb(0, 0, 0);
    }
    header .navigation li{
        margin-left: 0;
    }
    header .navigation li a{
        color: rgb(255, 255, 255);
        font-size: 1.7rem;
    }
    .menuToggle{
        position: relative;
        width: 50px;
        height: 50px;
        background-image: url(1.png);
        background-size: 70px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .menuToggle.active{
        background: url(2.png);
        background-size: 50px;
        background-repeat: no-repeat;
        background-position: center;
    }
    header.sticky .menuToggle{
        filter: invert(0);
    }
    .banner .content h2{
        font-size: 3rem;
        color: #fff;
    }
}

@media (max-width: 991px)
{
  .showcase{
    padding: 40px;
  }
  .techracy{
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .hero
  {
    padding: 50px 50px 50px 50px;
  }
  .faculties{
    margin-right: 40px;
  }
}

::-webkit-scrollbar{
    display: none;
}
::-webkit-scrollbar-track{
    display: none;
}
::-webkit-scrollbar-thumb{
    display: none;
}